@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"); */

.custom-h1 {
  @apply font-mono;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.custom-h2 {
  @apply font-mono;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.custom-h3 {
  @apply font-mono;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.custom-img {
  margin: 0 auto 4rem;
  width: 50%;
}

.custom-p {
  margin-bottom: 2rem;
}

/* .custom-em {
  font-weight: bold;
} */

.custom-hr {
  margin-bottom: 2rem;
}

.custom-a {
  display: inline-block;
}

.custom-a:hover {
  text-decoration: underline;
}

.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scrollToTopButton.visible {
  opacity: 1;
}
